*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: antiquewhite;
}

.container{
  width: 80%;
  height: 95vh;
  min-width: 800px;
  margin: 20px auto;
  background-color: brown;
  display: flex;
}

.left{
  width: 40%;
  background-color: cornflowerblue;
}

.right{
  width: 60%;
  background-color: royalblue;
}